<div class="container text-center padre">
  <div class="form-container  border">

      <img src="https://firebasestorage.googleapis.com/v0/b/lapapa-faabf.appspot.com/o/cleaning-gloves-protective-svgrepo-com.svg?alt=media&token=2e7c4bc0-2ae0-4529-8ed5-f9a0f9dbceae" 
        alt="gloves clean"
        width="70px"
        height="70px">
      
      <form action=""
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm" novalidate>
        <div class="mb-3">
          <label for="login-email" class="form-label">Username</label>
          <input 
            type="email" 
            class="form-control" 
            id="login-email"
            name="username"
            required
            #username="ngModel"
            [(ngModel)]="form.username"
            [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
            />
            @if (username.errors && f.submitted) {
              <div class="invalid-feedback">Username is required!</div>
            }
        </div>
        <div class="mb-3">
          <label for="login-password" class="form-label">Password</label>
          <input 
            type="password" 
            class="form-control" 
            id="login-password"
            name="password"
            #password="ngModel"
            required
            minlength="6"
            [(ngModel)]="form.password"
            [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
            />
            @if (password.errors && f.submitted) {
              <div class="invalid-feedback">
                @if (password.errors['required']) {
                  <div>Password is required!</div>
                }
                @if (password.errors['minlength']) {
                  <div>Password must be at least 6 characters</div>
                }
              </div>
            }
        </div>
        <button type="submit" class="btn btn-success" (click)="onLogin()" [disabled]="f.form.invalid">Sign In!</button>
        <button type="button" class="btn" (click)="onSignup()">No account, signup!</button>
      </form>

  </div>

</div>
