@if(currentUser) {
  <div class="row p-5" style="margin-top:70px;">
  <div class="card m-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Places</h5>
      <p class="card-text">Big area for cleaning.</p>
      <a routerLink="/places" routerLinkActive="active" class="btn btn-primary">View</a>
    </div>
  </div>
  <div class="card m-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Stations</h5>
      <p class="card-text">Small area with devices.</p>
      <a href="#" class="btn btn-primary">View</a>
    </div>
  </div>
</div>
} @else {
  <div class="alert alert-primary" role="alert">
    <strong>Please <a href="/signin">login.</a> </strong>
  </div>
}
