<div class="row m-4">
  <div class="col-4 p-4">
    <h1>WEB Application</h1>
    <hr class="border border-danger border-2 opacity-50">
    <br>
    <br>
    <h3 class="fw-light">A software for growing your business!</h3>
    <ul>
      <li>1000 users
        <i class="fas fa-cloud"></i>
      </li>
      <li>10 stores
        <i class="fas fa-cloud"></i>
      </li>
      <li>1 award
        <i class="fas fa-cloud"></i>
      </li>
      <li>Issues
        <i class="fas fa-cloud"></i>
      </li>
    </ul>
    <div class="d-flex justify-content-evenly align-bottom">
      <button type="button" class="btn btn-primary" (click)="onSignin()">Sign in!</button>
      <button type="button" class="btn btn-primary">Sign up!</button>
    </div>



  </div>
  <div class="col-8">
    <img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/lapapa-faabf.appspot.com/o/workplace.png?alt=media&token=bd742e48-084a-44e6-ab04-41ae5e7ae40b" alt="">
  </div>
</div>