<div class="container padre">
  <div class="form-container border">
    <div class="text-center">
      <img src="https://firebasestorage.googleapis.com/v0/b/lapapa-faabf.appspot.com/o/cleaning-gloves-protective-svgrepo-com.svg?alt=media&token=2e7c4bc0-2ae0-4529-8ed5-f9a0f9dbceae" 
        alt="gloves clean"
        width="70px"
        height="70px">
    </div>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="row needs-validation" novalidate>
      <div class="mb-3 col-md-6">
        <label for="register-first-name" class="form-label">First name</label>
        <input id="register-first-name" 
          type="text" 
          name="firstName"
          class="form-control"
          pattern="\w{3,16}"
          required 
          [class.is-invalid]="firstName.invalid && firstName.dirty"
          [class.is-valid]="firstName.valid"
          ngModel
          #firstName="ngModel"
          />
          <div class="invalid-feedback">
            Please enter a first name.
          </div>
      </div>
      <div class="mb-3 col-md-6">
        <label for="register-last-name" class="form-label">Last name</label>
        <input id="register-last-name" 
          type="text" 
          name="lastName"
          class="form-control"
          pattern="\w{3,16}"
          [class.is-invalid]="lastName.invalid && lastName.dirty"
          [class.is-valid]="lastName.valid"
          required 
          ngModel
          #lastName="ngModel"/>
          <div class="invalid-feedback">
            Please enter a last name.
          </div>
      </div>
      <div class="mb-3">
        <label for="register-email" class="form-label">Email</label>
        <input id="register-email" 
          type="email" 
          name="email"
          class="form-control"
          required
          pattern="[\w-\.]+@([\w-]+\.)+[\w-]{2,4}"
          [class.is-invalid]="email.dirty && email.invalid"
          [class.is-valid]="email.valid"
          ngModel
          #email="ngModel"/>
      </div>
      <div>
        <p class="fw-lighter lh-1">Choose a strong password at least 6 characters combing numbers, uppercase and lowercase letters, and symbols.</p>
      </div>
      <div class="mb-3">
        <label for="register-password" class="form-label">Password</label>
        <input id="register-password" 
          type="password" 
          name="password"
          class="form-control"
          required
          minlenght ="6"
          ngModel
          #password="ngModel"/>
      </div>
      <div class="mb-3">
        <label for="register-repassword" class="form-label">Retype password</label>
        <input id="register-repassword" 
          type="password" 
          name="repassword"
          class="form-control"
          required
          minlenght ="6"
          ngModel
          #repassword="ngModel"/>
      </div>
      <div class="mb-3">      
        <button type="submit" class="btn btn-success" [disabled]="form.invalid">Sign up</button>
        <button type="button" class="btn" (click)="onSignIn()">Sign in</button>
      </div>
      @if(firstName.touched && lastName.touched && email.touched && password.touched && repassword.touched && form.form.invalid) {
        <p class="text-danger">
          Invalid values detected. Please check your input.
        </p>
      }

      @if (!matchPasswords && password.touched && repassword.touched && form.submitted) {
        <p class="text-danger">
          Passwords don't match. Please check it!
        </p>
      }

    </form>
  </div>
</div>

